- name: Test VMware collection
  hosts: localhost
  connection: local
  gather_facts: false

  collections:
    - community.vmware

  tasks:
    - name: Get vCenter version
      community.vmware.vmware_about_info:
        validate_certs: false
      register: about

    - debug:
        var: about

