---

- name: Ensure PV exists
  community.general.lvol:
    pv: "{{ lvm_disk_path}}"
    vg: "{{ vg_name }}"
    state: present

- name: Extend VG
  community.general.lvg:
    vg: "{{ vg_name }}"
    pvs:
      - "{{ lvm_disk_path }}"
    state: present

- name: Extend LV
  community.general.lvol:
    vg: "{{ vg_name }}"
    lv: "{{ lv_name }}"
    size: "100%FREE"
    resizefs: yes
    state: present

