---

- name: Extend existing LVM
  ansible.builtin.include_tasks: extend_lvm.yaml
  when: lvm_action == "extend"

- name: Create new PV/VG/LV
  ansible.builtin.include_tasks: create_lvm.yaml
  when: lvm_action == "create"
